:root {
  --green: #495E57;
  --yellow: #F4CE14;
  --beige-dark: #EE9972;
  --beige-light: #FBDABB;
  --white: #EDEFEE;
  --black: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Karla", sans-serif;
  background-color: var(--white);
  overflow-x: hidden;
}

main > section {
  display: grid;
}

h1, h2, h3 {
  font-family: "Markazi Text", serif;
}

header {
  background-color: var(--white);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vmin;
  min-height: max-content;
  @media screen and (hover),
  screen and (hover: none) and (orientation: portrait) and (min-width: 786px),
  screen and (hover: none) and (orientation: portrait) and (min-width: 786px) {
    height: 2rem;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 3vmin;
  @media screen and (hover),
  screen and (hover: none) and (orientation: portrait) and (min-width: 786px),
  screen and (hover: none) and (orientation: portrait) and (min-width: 786px) {
    gap: 1.5rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 5vmin;
  padding-bottom: 5vmin;
  @media screen and (hover),
  screen and (hover: none) and (orientation: portrait) and (min-width: 786px),
  screen and (hover: none) and (orientation: portrait) and (min-width: 786px) {
    flex-direction: row;
    gap: 2rem;
  }
}

footer h3 {
  margin-bottom: 3vmin;
  @media screen and (hover),
  screen and (hover: none) and (orientation: portrait) and (min-width: 786px),
  screen and (hover: none) and (orientation: portrait) and (min-width: 786px) {
    margin-bottom: 1.5rem;
  }
}